// --------------------------------------------- TEXT'S MIXINS
@mixin title {
    font-size: 2.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    color: $title-color;
}

@mixin text {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: $text-color;
    font-family: "Montserrat";
    font-weight: 300;
    text-align: center;
}

@mixin titleGrid {
    width: 312px;
    height: 27px;
    font-size: 2rem;
    color: $link-active;
    font-family: "Raleway";
    font-weight: 500;
}

@mixin link {
    text-decoration: none;
    color: #fff;
}

@mixin list {
    list-style: none;
    padding: 0;
    margin: 0;
}
// --------------------------------------------- end of text's mixins



// --------------------------------------------- POSITIONS' MIXINS
@mixin posA {
    position: absolute;
    bottom: 0;
}

@mixin iconBefore {
    content: "";
        display: block;
        background-size: cover;
        width: 44px;
        height: 44px;
        margin: 0 auto 3rem auto;
        background-repeat: no-repeat;
}

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// @mixin posCenter {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

// --------------------------------------------- end of position's mixins



// --------------------------------------------- BACKGROUNDS' MIXINS
@mixin bg {
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin bgCard {
    background-size: 97% 234px;
    background-repeat: no-repeat;
}
// --------------------------------------------- end of bg's mixins




// --------------------------------------------- ANIMATIONS' MIXINS
@mixin tr {
    transition: all .4s ease-in;
}

@mixin hover {
    @include tr();
    &:hover,
    &:focus,
    &:active {
        @content;
    }
}
// --------------------------------------------- end of animation's mixins




// --------------------------------------------- TEMPLATES' MIXINS
@mixin button {
    font-size: 1.4rem;
    line-height: 2.3rem;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;

    width: 17rem;
    height: 4.6rem;
    border-radius: 5px;
    background-color: $brand-color;
    border: 0;
    box-shadow: 0px 2px 0px 0px $dark-brand-color;
}
// --------------------------------------------- end of templates elements