@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto&display=swap');

$bg-color: gray;
$brand-color: #988574;
$dark-brand-color: #726257;
$dots-color: #979695;

$title-color: #555555;
$text-color: #8c8c8c;
$link-active: #c7b299;

$secondary-text: #615855;
$secondary-bg: #382820;

$menu-bg: #998575;
$card-active: #352f2d;
$card-text: #d1d1d1;

$third-bg: #34261f;

$date-num-bg: #363636;
$date-sec-bg: #242424;
$date-sec-active: #a48d71;

$footer-bg: #191919;
$footer-sec-bg: #101010;
$link-color: #00bff3;
$link-second: #959595;

// $title-font: 'Roboto', sans-serif;
// $text-font: 'Raleway', sans-serif;
// $btn-font: 'Montserrat', sans-serif;
