@import 'normalize',
        '_mixins',
        '_variables';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    font: 1.5rem/1.6 'Open Sans', sans-serif;
    background-color: gray;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1928px;
    width: 84%; // 64% in psd
}

// -------------------------------------------------- HEADER

.first-section {
    // background-image: url(../img/header/bg-header.png);
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
      url(../img/header/bg-header.png);
    @include bg;
    min-height: 100vh;
}

header {
    @include flex;
    // outline: 2px green dashed;
    flex-direction: column;
    padding-top: 3.6rem;
}

.nav {
    @include flex;
    width: 100%;
}

.menu {
    // outline: 2px orange dashed;
    // margin: auto;
    &__items {
        @include flex;
        @include list;
    }
    &__item {
        padding: 0 1.2rem;
    }
    &__item:nth-last-child(2) {
        padding-left: 62px - 14px;
    }
    &__link {
        @include link;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 1.4rem;
        &--active {
            color: $link-active;
        }
    }
}

.button {
    @include button;
}


// -------------------------------------------------- SLIDER

.slider {
    max-width: 105%;
    margin-top: 14rem;
    margin-bottom: 5rem;
    &__uptitle {
        @include title;
        font-size: 3.6rem;
        font-weight: 600;
        color: #fff;
    }
    &__title {
        @include title;
        font-size: 5.2rem;
        font-weight: 800;
        color: #fff;
    }
    &__subtitle {
        @include text;
        width: 100rem;
        // text-align: center;
        margin: auto;
        line-height: 2.4rem;
    }
}

// -------------------------------------------------- SERVICES
.services {
    height: 372px;
    background-color: #fff;
    text-align: center;
    // outline: 2px dashed red;
    padding-top: 8rem;
    &__items {
        @include flex;
        // outline: 2px dashed orangered;
    }
    &__title {
        @include title;
        // outline: 2px dashed orange;
        &--pen {
            &::before {
                background-image: url(../img/services/icon-pencil.svg);
                @include iconBefore;
            }
        }
        &--dev {
            color: $link-active;
            &::before {
                background-image: url(../img/services/icon-dev.svg);
                @include iconBefore;
            }
        }
        &--cust {
            &::before {
                background-image: url(../img/services/icon-cust.svg);
                @include iconBefore;
                // outline: 2px dashed saddlebrown;
            }
        }
        &--mark {
            &::before {
                background-image: url(../img/services/icon-mark.svg);
                @include iconBefore;
                background-size: 100% 100%;
                // outline: 2px dashed saddlebrown;
            }
        }
    }
    &__subtitle {
        font-size: 1.4rem;
        color: $text-color;
        &::after {
            content: '';
            display: block;
            width: 7rem;
            height: 2px;
            background-color: #f1eee9;
            margin: 3rem auto 0 auto;
        }
        &--active {
            &::after {
                background-color: $link-active;
            }
        }
    }
    &__icon {
        display: block;
        outline: 2px dashed greenyellow;
        margin-bottom: 2.6rem;
        // text-align: center;
        margin: 0 auto 2.6rem auto;
    }
}

.works {
    height: 702px;
    background-color: $third-bg;
    position: relative;
    padding-top: 4rem; // 8rem - real
    &__title {
        @include title;
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    &__subtitle {
        @include text;
        width: 768px;
        height: 65px;
        margin: auto;
    }
    &__image {
        &--center {
            @include posA;
            left: 50%;
            transform: translateX(-50%);
            // outline: 2px dashed blue;
            // height: 480px;
            // width: 768px;
            z-index: 2;
        }
        &--left {
            @include posA;
            left: 5%;
            z-index: 1;
        }
        &--right {
            @include posA;
            right: 5%;
            z-index: 1;
        }
    }
}

.text {
    height: 150px;
    background: $grad-bg;
    // outline: 2px dashed yellow;
    &__items {
        height: 15rem;
        @include flex;
        // align-items: center;
        // outline: 2px dashed yellow;
    }
    &__title {
        @include title;
        font-size: 2.8rem;
        // color: #c7b299;
        // font-family: "Raleway";
        font-weight: 400;
        color: #fff;
    }
    &__subtitle {
        @include text;
        font-size: 1.8rem;
        color: $secondary-text;
    }
    &__link {
        @include link;
        color: $link-active;
    }
    &__button {
        @include button;
    }
}

.projects {
    height: 1166px;
    background-color: #fff;
    // outline: 2px dashed green;
    &__title {
        @include title;
        font-size: 3rem;
        margin-top: 0;
        padding-top: 8rem;
    }
    &__subtitle {
        @include text;
        // display: block;
        margin: auto;
        width: 770px;
        height: 65px;
    }
    // &__grid {
    //     // margin: auto;
    //     // outline: 2px dashed red;
    // }
    &__menu {
        @include list;
        @include flex;
        justify-content: space-evenly;
        // justify-content: initial;
        margin: 0 14%;
        // padding: auto;
        // outline: 2px green dashed;
    }
    &__item {
        @include text;
        // outline: 2px pink dashed;
        padding: 0.8rem 2.6rem;
        border-radius: 5px;
        border: 1px solid rgba(128, 128, 128, .2);
        &--active {
            background-color: $brand-color;
            color: #fff;
            border: none;
        }
    }
    &__cards {
        display: grid;
        // outline: 2px dashed green;
        min-height: 70rem;
        margin-top: 4rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
    }
    &__card {
        // outline: 2px dashed cornflowerblue;
        &--first {
            grid-area: 1 / 1 / 2 / 2; 
            background-image: url(../img/projects/grid-mobile.png);
            @include bgCard;
            // background-color: black;
        }
        &--sec {
            grid-area: 1 / 2 / 2 / 3;
            // background-image: url(../img/projects/grid-book.png);
            background: linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
            ),
            url(../img/projects/grid-stone.png);
            @include bgCard;
            // background-color: blue;
        }
        &--third {
            grid-area: 1 / 3 / 2 / 4;
            background-image: url(../img/projects/grid-book.png);
            @include bgCard;
            // background-color: blueviolet;
        }
        &--fourth {
            grid-area: 2 / 1 / 3 / 2;
            background-image: url(../img/projects/grid-birds.png);
            @include bgCard;
            // background-color: green;
        }
        &--fifth {
            grid-area: 2 / 2 / 3 / 3;
            background-image: url(../img/projects/grid-journal.png);
            @include bgCard;
            // background-color: chocolate;
        }
        &--sixth {
            grid-area: 2 / 3 / 3 / 4;
            background-image: url(../img/projects/grid-sea.png);
            @include bgCard;
            // background-color: red;
            z-index: 1;
        }
    }
    &__text {
        min-height: 94px;
        width: 97%;
        // display: block;
        margin-top: 63%;
        // outline: 2px dashed pink;
        background-color: $third-bg;
        z-index: 2;
        padding: 2.4rem 3rem 2.4rem 3rem;
        &--active {
            background-color: $card-active;
        }
        &--active span:first-child {
            color: #fff;
        }
        &--active span:last-child {
            color: $link-active;
        }
        &--title {
            display: block;
            @include titleGrid;
            text-align-last: left;
            // outline: 2px dashed blue;
        }
        &--subtitle {
            @include text;
            color: $card-text;
            font-size: 1.4rem;
            line-height: 2rem;
            // outline: 2px dashed red;
        }
    }
    &__button {
        @include button;
        margin: auto;
        display: block;
        margin-top: 5rem;
        // outline: 2px dashed red;
    }
}

.video {
    height: 706px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ),
      url(../img/video/video-bg.png);
    @include bg;
    &__title {
        @include title;
        color: #fff;
        font-size: 3rem;
        font-weight: 500;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        padding-top: 15%;
        &::before {
            background-image: url(../img/video/play-icon.svg);
            @include iconBefore;
            width: 10rem;
            height: 10rem;
        }
    }
    &__subtitle {
        @include text;
        color: #fff;
        width: 571px;
        height: 58px;
        margin: auto;
        // padding-bottom: 3.4rem;
    }
    &__time {
        @include text;
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 400;
        color: $link-active;
        display: block;
        margin-top: 3.4rem;
    }
}

.mobile {
    height: 694px;
    background-color: $third-bg;
    position: relative;
    &__items {
        // outline: 2px dashed red;
        display: flex;
        align-items: flex-end;
        height: 694px;
    }
    &__image {
        // outline: 2px dashed black;
        background-image: url(../img/mobile/mobile-in-hand.png);
        background-repeat: no-repeat;

        // position: absolute;
        // bottom: 0;
        // left: 8%;

        height: 61rem;
        width: 43rem;
    }
    &__text {
        // outline: 2px dashed green;
        width: 70rem;
        padding: 0 3rem 0 3rem;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    &__title {
        @include title;
        padding-top: 6rem;
    }
    &__subtitle {
        @include text;
        text-align: left;
    }
    &__list {
        @include list;
        color: $text-color;
        // outline: 2px dashed goldenrod;
    }
    &__item {
        // text-align: center;
        // display: inline-block;
        display: flex;
        align-items: center;
        // display: table-cell;
        // justify-content: center;
        // vertical-align: middle;
        padding-left: 5rem;
        &::before {
            background-image: url(../img/mobile/list-arrow.svg);
            @include iconBefore;
            display: inline-block;
            margin: 0;
            width: 2rem;
            height: 2rem;
            margin-right: 2.5rem;
        }
    }
}

.counters {
    height: 297px;
    background: $grad-bg;
    padding-top: 4%;
    &__items {
        @include flex;
        justify-content: space-evenly;
        // outline: 2px dashed pink;
        @include text;
    }
    // &__item {
    //     outline: 2px dashed burlywood;
    // }
    &__num {
        color: #fff;
        font-size: 4.8rem;
        line-height: 3.6rem;
        &--clients {
            &::before {
                background-image: url(../img/counters/client-icon.svg);
                @include iconBefore;
                background-size: contain;
                width: 5rem;
                height: 5rem;
            }
        }
        &--cups {
            &::before {
                background-image: url(../img/counters/cup-icon.svg);
                @include iconBefore;
                background-size: contain;
                width: 5rem;
                height: 5rem;
            }
        }
        &--blogs {
            &::before {
                background-image: url(../img/counters/chat-icon.svg);
                @include iconBefore;
                background-size: contain;
                width: 5rem;
                height: 5rem;
            }
        }
        &--likes {
            &::before {
                background-image: url(../img/counters/heart-icon.svg);
                @include iconBefore;
                background-size: contain;
                width: 5rem;
                height: 5rem;
            }
        }
        &--launches {
            &::before {
                background-image: url(../img/counters/launch-icon.svg);
                @include iconBefore;
                background-size: contain;
                width: 5rem;
                height: 5rem;
                background-position-y: bottom;
            }
        }
    }
    &__text {
        width: 170px;
        height: 25px;
        font-size: 1.4rem;
        line-height: 2rem;
        color: $link-active;
        &--clients {
            &::after {
                @include line;
            } 
        }
        &--cups {
            &::after {
                @include line;
            } 
        }
        &--blogs {
            &::after {
                @include line;
            } 
        }
        &--likes {
            &::after {
                @include line;
            } 
        }
        &--launches {
            &::after {
                @include line;
            } 
        }
    }
}

.posts {
    height: 752px;
    background-color: #fff;
    &__title {
        margin: 0;
    }
}

.partners {
    height: 488px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
      url(../img/partners/partners-bg.png);
    @include bg;
    background-position: center;
    &__items {
        @include flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 12%;
    }
    &__item {
        width: 18rem;
        height: 18rem;
    }
}

.footer {
    height: 508px;
    background-color: $footer-bg;
    &__wrap {
        @include flex;
        // justify-content: space-evenly;
        align-items: flex-start;
        padding-top: 8rem;
    }
    &__item {
        padding: 0 2rem;
        width: 27rem;
    }
    &__text {
        @include text;
        font-size: 1.4rem;
        text-align: left;
        line-height: 2.4rem;
        color: $title-color;
    }
    &__link {
        @include link;
        &::after {
            content: "";
            background-image: url(../img/footer/footer-arrow.svg);
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            width: .6rem;
            height: .9rem;
            margin-left: 1rem;
        } 
        &--sec {
            @include link;
            color: $link-color;
        }
        &--third {
            @include link;
            color: $link-second;
        }
    }
    &__title {
        @include title;
        font-weight: 700;
        color: #fff;
        font-size: 2.4rem;
        margin-bottom: 2.5rem;
    }
    &__list {
        @include list;
        color: $title-color;
        &--item:nth-child(2) {
            &::before {
                @include separator;
            }
            &::after {
                @include separator;
            }
        }
    }
    &__time {
        display: block;
        @include text;
        font-size: 1.2rem;
        line-height: 2rem;
        text-align-last: left;
        color: $date-num-bg;
    }
    &__grid {
        display: grid;
        // outline: 2px dashed green;
        min-height: 20.5rem;
        // margin-top: 4rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        &--tl {
            grid-area: 1 / 1 / 2 / 2; 
            background-image: url(../img/footer/devices.png);
            // @include bgCard; 
            // background-position: center;
            @include bg;
            background-position-x: center;

        }
        &--tr {
            grid-area: 1 / 2 / 2 / 3; 
            background-image: url(../img/footer/bag.png);
            // @include bgCard;
            @include bg;
            background-position-y: bottom;
        }
        &--bl {
            grid-area: 2 / 1 / 3 / 2;
            background-image: url(../img/projects/grid-journal.png);
            @include bg;
            background-position-x: center;
        }
        &--br {
            grid-area: 2 / 2 / 3 / 3;
            background-image: url(../img/footer/pattern.png);
            @include bg;
            background-position-x: center;
            background-size: 100% 100%;
        }
    }
}

.bottom {
    height: 112px;
    background-color: $footer-sec-bg;
    display: flex;
    align-items: center;
    &__wrap {
        @include flex;
        // outline: 2px pink dashed;
        color: $text-color;
        width: 100%;
    }
    &__list {
        @include list;
        @include flex;
        // justify-content: space-evenly;
        // outline: 2px dashed red;
        // width: 40rem;
        &--sec {
            @include list;
            @include flex;
            // width: 32rem;
            // outline: 2px dashed red;
        }
    }
    &__link {
        @include link;
        color: $text-color;
        &--name {
            @include link;
            color: $link-second;
        }
    }
    // &__item {
    //     padding: 0 1rem;
    // }
    &__item:not(:last-of-type) {
        &::after {
            content: "|";
            color: $v-line;
            padding: 0 1rem;
        }
    }
}