@import 'normalize',
        '_mixins',
        '_variables';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    font: 1.5rem/1.6 'Open Sans', sans-serif;
    background-color: gray;
}

.container {
    margin: 0 auto;
    max-width: 1928px;
    width: 84%; // 64% in psd
}

// -------------------------------------------------- HEADER
.first-section {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
      url(../img/header/bg-header.png);
    @include bg;
    min-height: 100vh;
}

header {
    @include flex;
    outline: 2px green dashed;
    padding-top: 3.6rem;
}

.menu {
    outline: 2px orange dashed;
    margin: auto;
    &__items {
        @include flex;
        @include list;
    }
    &__item {
        padding: 0 1.2rem;
    }
    &__item:nth-last-child(2) {
        padding-left: 62px - 14px;
    }
    &__link {
        @include link;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 1.4rem;
        &--active {
            color: $link-active;
        }
    }
}


// -------------------------------------------------- SLIDER
.slider {
    width: 1920px;
    height: 100vh;
}

.services {
    height: 372px;
}

.works {
    height: 702px;
}

.text {
    height: 150px;
}

.projects {
    height: 1166px;
}

.video {
    height: 706px;
}

.mobile {
    height: 694px;
}

.counters {
    height: 297px;
}

.second-slider {
    height: 752px;
}

.partners {
    height: 488px;
}

.footer {
    height: 508px;
}

.bottom {
    height: 112px;
}