@import 'normalize',
        '_mixins',
        '_variables';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    font: 1.5rem/1.6 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 96%;
}

// -------------------------------------------------- HEADER

.slider {
    width: 1920px;
    height: 100vh;
}

.services {
    height: 372px;
}

.works {
    height: 702px;
}

.text {
    height: 150px;
}

.projects {
    height: 1166px;
}

.video {
    height: 706px;
}

.mobile {
    height: 694px;
}

.counters {
    height: 297px;
}

.second-slider {
    height: 752px;
}

.partners {
    height: 488px;
}

.footer {
    height: 508px;
}

.bottom {
    height: 112px;
}